@model IEnumerable<BlogPosts>
@{
    ViewData["Title"] = "Home Page";
}

<div class="w3-content" style="max-width:1600px;">
    <!-- Image header -->
    <header class="w3-display-container w3-wide pngcontainer1">
        <div style="position:relative">
            <div>
                <img class="w3-image" src="~/images/homepage.jpg">
            </div>
            <div style="position:absolute; left:0; top:0;">
            </div>
            @*<div style="position:absolute; right:5vw; top:8vh;">
                <img class="w3-image w3-hide-small w3-hide-medium" width="300" height="200" src="~/images/logo.png">
            </div>
            <div style="position:absolute; right:3vw; top:2vh;">
                <img class="w3-image w3-hide-large" width="90" height="60" src="~/images/logo.png">
            </div>*@
        </div>
    </header>


    <!-- Grid -->
    <div class="w3-row">

        <!-- About Us Blurb -->
        <div class="w3-left w3-padding-large">
            <p>
                Two people and a pup planning to travel the States
            </p>
        </div>

        <!-- Blog entries -->
        <div class="w3-center">
            <!-- Blog entry -->
            <div class="w3-container">
                @foreach (var post in Model)
                {
                <div class="blog w3-margin w3-padding">
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@post.ID"><img src=@post.ImagePath alt=@post.Title width="300" height="200" class="w3-image w3-right w3-margin w3-padding"></a>
                    <p class="w3-opacity w3-left-align">@post.PostCreated</p>
                    <h3 class="w3-left-align"><strong>@post.Title</strong></h3> <p class="w3-left-align">
                        @if (post.Content.Length >= 300)
                        {
                            @(post.Content.Substring(0, 299) + "...".ToString())
                        }
                        else
                        {
                            @post.Content
                        }
                    </p>
                    <br />
                    <p class="w3-left"><b><a asp-controller="Blog" asp-action="Details" asp-route-id="@post.ID" class="w3-button w3-white w3-border">Read more...</a></b></p>
                    <p class="w3-clear"></p>
                </div>
                }
            </div>
            <!-- END BLOG ENTRIES -->
            <a asp-controller="Blog" asp-action="Index" class="w3-button w3-black w3-padding-large w3-margin-bottom">To all posts</a>
        </div>
        <!-- END About/Intro Menu -->
    </div>
    <!-- END GRID -->
</div>

<script>
    // Toggle between hiding and showing blog replies/comments
</script>