@model IEnumerable<BlogPosts>

@{
    ViewData["Title"] = "Blog";
}

<div class="w3-content" style="max-width:1600px">
    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                @foreach (var post in Model)
                {
                <div class="w3-center">
                    <h3>@post.Title</h3>
                    <span class="w3-opacity">@post.PostCreated</span>
                </div>

                    <div class="w3-justify">
                        <img src=@post.ImagePath alt=@post.Title style="width:100%" class="w3-padding-16">
                        <p class="w3-left-align">
                            @if (post.Content.Length >= 200)
                            {
                                @(post.Content.Substring(0, 199) + "...".ToString())
                            }
                            else
                            {
                                @post.Content
                            }
                        </p>
                        <br />
                        <p class="w3-left"><b><a asp-controller="Blog" asp-action="Details" asp-route-id="@post.ID" class="w3-button w3-white w3-border">Continue reading...</a></b></p>
                        <p class="w3-right"><button class="w3-button w3-black" onclick="myFunction('demo1')" id="myBtn"><b>Comments  </b> <span class="w3-tag w3-white"></span></button></p>
                        <p class="w3-clear"></p>
                        <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
                            <hr>
                            <div class="w3-col l2 m3">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Post menu -->
        <div class="w3-col l4">
            
            <!-- Posts -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Blog Posts</h4>
                </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        @foreach (var post in Model)
                        {
                            <li class="w3-padding-16">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@post.ID">@post.Title</a>
                                        <p>@post.PostCreated</p>
                            </li>
                         }
                    </ul>
            </div>
            <hr>
            <!-- END About/Intro Menu -->
        </div>

        <!-- END GRID -->
    </div>

    <!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
            <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
            <h2 class="w3-wide">SUBSCRIBE</h2>
            <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
            <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

function likeFunction(x) {
    x.style.fontWeight = "bold";
    x.innerHTML = "✓ Liked";
}
</script>